.mood-looks {
    height: 564px;
	margin-top: -460px;

	&.hide {
		opacity: 0;
		visibility: hidden;
	}
	.looks-wrapper {
        position: relative;
        height: 458px;

		ul {
			white-space: nowrap;
		}
	}
	.looks-single {
		display: inline-block;
	}
}

.looks-slider {
	width: 100%;
	overflow: hidden;
	padding: 0;
	.look {
		margin: 50px 0;
	}
    .looks-outer {
        width: 100%;
    }
}

.looks-nav {
	height: 0;
	position: absolute;
	top: 50%;
	z-index: 3;
	width: 100%;
	margin-top: -51px;

	button {
		width: 72px;
		height: 102px;
		padding: 0;
		margin: 0 ;
		border: 0;
		text-indent: -1000px;
		position: absolute;
		cursor: pointer;
		overflow: hidden;
		outline: none;

		&.nav-prev {
			left: 3%;
			background: url(../images/slider-prev.png) no-repeat
		}

		&.nav-next {
			right: 3%;
			background: url(../images/slider-next.png) no-repeat
		}
	}
}

.looks-filter-ul {
	text-align: center;
	margin: 20px 0 0;
	li {
		display: inline-block;
		margin: 0 10px;
	}
}
.looks-gender-filter {
	background: none;
	border: 0;
	font-family: $font-italic;
	color: white;
	font-size: 18px;
	text-decoration: none;
	display: inline-block;
	position: relative;
	&.male {
		text-align: left;
		padding-left: 40px;
		opacity: .3;
		&:after {
			left: 0;
			background: url(../images/filter-male.png) no-repeat center center #e06422;
		}
	}
	&.female {
		text-align: right;
		padding-right: 40px;
		opacity: .3;
		&:after {
			right: 0;
			background: url(../images/filter-female.png) no-repeat center center #f5a416;
		}
	}
	&.active {
		opacity: 1;
	}
	&:after {
		position: absolute;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		content: '';
		display: inline-block;
		top: 3px;
	}
}
